# Univariate Linear Regression

In [2]:
import numpy as np
import pandas as pd

C:\Users\manis\AppData\Local\Temp\ipykernel_8620\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
data = [
    [35.0, 179.0],
    [42.0, 200.0],
    [50.0, 221.0],
    [60.0, 263.0],
    [67.0, 280.0],
    [75.0, 314.0],
    [80.0, 327.0],
    [90.0, 360.0],
    [95.0, 377.0],
    [100.0, 391.0],
    [110.0, 425.0],
    [120.0, 462.0],
    [130.0, 493.0],
    [140.0, 521.0],
    [150.0, 552.0],
    [160.0, 582.0],
    [175.0, 631.0],
    [190.0, 675.0],
    [210.0, 740.0],
    [230.0, 804.0],
]

In [8]:
df = pd.DataFrame(data, columns=['feature', 'target'])

In [13]:
df.head()

   feature  target
0     35.0   179.0
1     42.0   200.0
2     50.0   221.0
3     60.0   263.0
4     67.0   280.0

In [14]:
print(df.shape)

(20, 2)

In [27]:
print(df.iloc[:, 0].mean())
print(round(df.iloc[:, 0].std(ddof=0), 2))
print(df.iloc[:, 0].min())
print(df.iloc[:, 0].max())

115.45
55.22
35.0
230.0

In [30]:
X = df.iloc[:, 0]
y = df.iloc[:, 1]

In [31]:
X_norm = (X - X.mean()) / (X.std(ddof=0))

0      35.0
1      42.0
2      50.0
3      60.0
4      67.0
5      75.0
6      80.0
7      90.0
8      95.0
9     100.0
10    110.0
11    120.0
12    130.0
13    140.0
14    150.0
15    160.0
16    175.0
17    190.0
18    210.0
19    230.0
Name: feature, dtype: float64 0    -1.456972
1    -1.330200
2    -1.185317
3    -1.004215
4    -0.877443
5    -0.732561
6    -0.642009
7    -0.460906
8    -0.370355
9    -0.279804
10   -0.098701
11    0.082402
12    0.263504
13    0.444607
14    0.625710
15    0.806813
16    1.078467
17    1.350121
18    1.712326
19    2.074532
Name: feature, dtype: float64

## Gradient Descent

In [ ]:
theta0 = 0
theta1 = 0
alpha = 0.01
epochs = 1000
n = len(df)

20

In [40]:
for i in range(epochs):
    y_hat = theta0 + (theta1 * X_norm)

    gtheta0 = (y_hat - y).sum() / n
    gtheta1 = ((y_hat - y) * X_norm).sum()/ n

    theta0 -= alpha * gtheta0
    theta1 -= alpha * gtheta1

print(theta0, theta1)

439.85 177.3008072791177